body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #e6e4e4;
}

header {
    display: flex;
    justify-content: space-between, left;
    align-items: center;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #e6e4e4;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    max-height: 100px;
    margin-right: 70px;
}

nav ul {
    list-style: none;
    margin-right: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #171616;
    padding-right: 20px;
}

main {
    padding: 20px;
}

.hero {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: 50px;
    position: relative;
}

.hero-content {
    text-align: left;
    position: relative;
    padding-left: 40px;
    padding-top: 150px;
}

.hero-content h1 {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.hero-content p {
    font-size: 20px;
    padding-left: 50px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.collage-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105%;
    height: auto;
    object-fit: cover;
}

.about-me h2{
    font-family: "Bebas";
    font-size: 200px;
    margin-left: 400px;
    margin-bottom: 10px;
    padding-top: 900px;
    position: relative;
}

.me {
    position: absolute;
    height: 500px;
    top: 1313px;
    left: 550px;
    float: right;
}

.about-me p {
    text-align: center;
    font-size: small;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    justify-content: center;
}

.contact {
    padding-top: 70px;
    padding-bottom: 10px;
}

.contact p{
    text-align: center;
    font-size: small;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
    justify-content: center;
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 480px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: #333; 
    color: #fff;
    border: 2px solid #fff; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}
  
button:hover {
    background-color: #444; 
}

footer {
    color: white;
    height: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: auto;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 40px 0; 
}
  
.social-icons li {
    margin: 0 10px; 
}
  
.social-icons a {
    color: #000000; 
    text-decoration: none;
}
  
.social-icons i {
    font-size: 100px;
}